html , body{
    background-color: rgb(167, 46, 46);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

 nav {
      position: fixed; 
      border-radius: 2px;  
      top: 0;              
      width: 100%;       
      align-items: center;
      display: flex;
      justify-content: space-between; 
      background-color: #333;
      color: white;
      padding: 10px 20px;
      z-index: 1000;       
    }

nav img{
    width: 50px;
}

.logo-text a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

nav .logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 0 23px;

}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

nav ul li a:hover{
    text-decoration: underline;
    color: skyblue;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(167, 46, 46);
  font-family: sans-serif;
}

.home{
    display: flex;
    min-height: 95vh;
    margin-left: 125px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.home h2{
    font-size: 3rem;
}

.select{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#localelist{
    width: 100%;
    font-size: 1rem;
    padding: 10px 20px;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 16) 0px 3px 6px, rgba(0, 0, 0,23) 0px 3px 6px;
    background: rgb(188, 136, 46);
    color: white;
}

#localelist option{
    font-size: 1rem;
    background: rgb(188, 136, 46);
    color: black;
}

.show-date{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.7rem;
}

section {
  scroll-margin-top: 100px; 
}

main section{
    background-color: rgb(61, 123, 84);
    padding: 15px 20px;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    min-height: 85vh;
    margin: 40px;
    border: 5px solid rgb(0, 0, 0);
}

footer {
    background-color: #333;
    width: 100%;    
    border-radius: 2px;
    color: white;
    min-height: 35vh;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
    color: skyblue;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    padding: 2px ;
    margin-left: 1px;
}

footer img{
    width: 40px;
}

footer span{
    font-size: 2rem;
}

.footer-logo{
    display: flex;
    align-items: center;
}

.contact{
    display: flex;
    padding: 15px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.support>p, .contact_us>p, .quick_link>p{
    font-size: 1.5rem;
}

.me{
    margin-left: 10px;
}

.copyright{
    text-align: center;
    font-size: 0.8rem;
    padding: 2px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}